.burger {
	display: none;
	flex: 0 0 30px;
	width: 30px;
	height: 30px;
	position: relative;
	@media (max-width: 991.98px) {
		display: block;
		z-index: 3;
		&__line {
			position: absolute;
			left: 0;
			height: 3px;
			width: 100%;
			background-color: var(--white);
			border-radius: 3px;
			transition: transform 0.3s ease 0s, top 0.3s ease 0s, opacity 0.3s ease 0s, bottom 0.3s ease 0s;
			&_top {
				top: 0;
			}
			&_middle {
				top: 50%;
				transform: translateY(-50%);
			}
			&_bottom {
				bottom: 0;
			}
		}
		&.burger_open {
			.burger__line {
				&_top {
					top: 50%;
					transform: rotate(45deg) translateY(-50%);
				}
				&_middle {
					opacity: 0;
				}
				&_bottom {
					transform: rotate(-45deg) translateY(50%);
					bottom: 50%;
				}
			}
		}
	}
}
